.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo img {
    width: 80px;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    text-decoration: none;
    color: brown;
}

.navbar-menu a:hover {
    background-color: gray;
    border: 2px gray solid;
    border-radius: 10px;
}

.navbar-login {
    display: flex;
}

.navbar-login button {
    margin-top: 12px;
    width: 200px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: brown;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.navbar-login button:hover {
    background-color: gray;
}

.content-top {
    display: flex;
    justify-content: space-between;
}

.content-top-title {
    display: flex;
    font-size: 25px;
    font-family: 'Rubik Microbe', cursive;
}

.content-top-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border: 4px solid brown;
    border-radius: 12px;
    font-family: 'Anek Devanagari', sans-serif;
}

.content-top-item h5 {
    font-weight: bold;
    font-size: 20px;
}

.content-top-item img {
    width: 250px;
    height: 250px;
    border: 5px solid brown;
}

.content-bottom {

}

.content-bottom-title{
    font-size: 45px;
    text-align: center;
    color: brown;
    text-shadow: 2px 4px 6px;
    margin-top: 0px;
}

.content-bottom-item {
    font-size: 30px;
    margin-top: 150px;

}

.content-bottom-item h5 {
    background-color: brown;
    border: 12px solid brown;
    border-radius: 20px;
    width: 500px;
}